@font-face {
  font-family: 'Fredoka One';
  src: url('../fonts/FredokaOne-Regular.woff2') format('woff2'),
    url('../fonts/FredokaOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../fonts/HindMadurai-Regular.woff2') format('woff2'),
    url('../fonts/HindMadurai-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../fonts/HindMadurai-Bold.woff2') format('woff2'),
    url('../fonts/HindMadurai-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../fonts/HindMadurai-SemiBold.woff2') format('woff2'),
    url('../fonts/HindMadurai-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p,
li,
span,
blockquote,
del {
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* HEADER */
.site-header {
  background-color: rgb(242, 206, 218, 0.3);
}

.container {
  width: 1125px;
  margin: 0 auto;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 126px;
}

.site-nav-link {
  font-size: 14px;
  line-height: 16px;
  color: rgba(21, 1, 1, 0.6);
  text-decoration: none;
  margin-left: 40px;
  text-transform: capitalize;
}
.site-nav-link:hover {
  font-size: 14px;
  line-height: 18px;
  color: #d23166;
}

.site-nav-link:active {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #d23166;
}

.active {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #d23166;
}

.same-btn {
  display: inline-block;
  background-color: #d23166;
  border-radius: 5px;
  font-family: Hind Madurai;
  font-weight: bold;
  line-height: 22px;
  color: #fafafa;
  text-decoration: none;
  padding: 14px 50px;
  text-transform: capitalize;
}

/* HERO */
.hero {
  padding-bottom: 65px;
}

.hero-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-left-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0f0101;
  margin-bottom: 6px;
}

.hero-left-heading {
  font-family: Fredoka One;
  font-size: 57.33px;
  line-height: 120.5%;
  color: #0f0101e6;
  margin-bottom: 35px;
}

.hero-left-pink-text {
  color: #d23166;
}

.hero-left-text {
  font-family: Hind Madurai;
  font-size: 18px;
  line-height: 27px;
  color: #0f010199;
  margin-bottom: 63px;
}

.hero-right-side {
  width: 597px;
  height: 597px;
  background-position: top 186px left -155px, top -33px left -103px,
    top 220px left 2px, bottom -2px left 99px;
  background-image: url('../img/milk.png'), url('../img/bg-image.png'),
    url('../img/ellipse.png'), url('../img/shadow.png');
  background-repeat: no-repeat;
  background-size: 651.86px, 597px, 365px 353px, 173px 15px;
}

/* LIST */

.site-main {
  background-color: #fff;
}

.site-list {
  margin: 50px 0;
}

.main-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-list-item {
  padding: 33px 26px;
  background: transparent;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  text-align: center;
}

.main-list-heading {
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin: 23px 0 9px;
}

.main-list-text {
  font-family: Hind Madurai;
  font-size: 14px;
  line-height: 19px;
  color: #00000099;
}

/* SUGAR */
.sugar {
  background-color: #f8edf0;
}

.sugar-left-side {
  width: 442px;
}

.sugar-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sugar-heading {
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: #150101;
}

.sugar-text {
  font-size: 16px;
  line-height: 24px;
  color: #15010199;
  margin: 16px 0 35px;
}

.same-pink-btn {
  display: inline-block;
  background-color: #d64374;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 41px;
  text-transform: capitalize;
}

.sugar-right-side {
  width: 655px;
  height: 656.8px;
  background-image: url('../img/brown-sugar.png');
  background-position: top 0px left 50px;
  background-repeat: no-repeat;
  background-size: 655px;
}

/* PRODUCT */

.product {
  margin: 137px 0 149px;
}

.product-heading {
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
  text-transform: capitalize;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #00000099;
  text-decoration: none;
  text-transform: uppercase;
  margin: 64px 0 110px;
}

.product-link-active {
  padding-bottom: 4px;
  border-bottom: 3px solid #d64374;
}

/* ICE-CREAM */
.ice-cream {
  width: 1160px;
  margin: 0 auto;
}

.ice-cream-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.ice-cream-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ice-cream-items:nth-of-type(2n) {
  flex-direction: row-reverse;
  text-align: right;
}

.ice-cream-right-side {
  margin-left: 87px;
}

.ice-cream-right-side:nth-of-type(2n) {
  margin-right: 87px;
}

.ice-cream-heading {
  font-family: Hind Madurai;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
}

.ice-cream-text {
  font-family: Roboto;
  line-height: 24px;
  color: #000000b3;
  margin: 11px 0 28px;
}

.ice-cream-price {
  font-family: Hind Madurai;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 16px;
}

.ice-cream-discount {
  font-family: Hind Madurai;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #000000b3;
}

.ice-cream-same-btn {
  display: inline-block;
  background-color: #d23166;
  font-family: Roboto;
  border-radius: 5px;
  font-weight: 500;
  line-height: 19px;
  color: #fafafa;
  text-decoration: none;
  padding: 15px 46px;
  text-transform: capitalize;
  color: #fafafa;
}

.ice-cream-person-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
}

.ice-cream-span {
  display: block;
}

.ice-cream-person-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.ice-cream-person-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000b3;
  text-transform: uppercase;
  margin: 5px 50px;
  margin-left: 0;
}

.ice-cream-quote {
  line-height: 24px;
  color: #000000b3;
  margin: 40px 0 46px;
}

.ice-cream-person-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ice-cream-person-item:nth-child(2) .ice-cream-person {
  border-radius: 50%;
}

/* SIMPLE */
.simple {
  background-color: rgba(248, 237, 240, 1);
  padding: 45px 0;
}

.simple-flex {
  display: flex;
  justify-content: space-around;
}

.simple-left-side {
  width: 269px;
  height: 552.99px;
  background-image: url('../img/phone.png');
  background-repeat: no-repeat;
  background-size: 269px;
}

.simple-right-side {
  width: 621px;
}

.simple-heading {
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
  color: #000000;
  margin: 90px 0 20px;
}

.simple-text {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #0f0101;
  margin: 20px 0 29px;
}

.simple-flex-list {
  padding-left: 0;
}

.simple-flex-item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
}

.simple-rectangle {
  background-color: #ffffff;
  border-radius: 3px;
  margin-right: 10px;
}

.simple-flex-item .simple-rectangle:nth-of-type(1) {
  padding: 7.37px 10px 7.5px 9px;
}

.simple-flex-item .simple-rectangle:nth-of-type(2) {
  padding: 8.44px 8px 8.44px 12.6px;
}

.simple-flex-item .simple-rectangle:nth-of-type(3) {
  padding: 9px 7px 8.61px 7px;
}

.simple-flex-box-text {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-transform: capitalize;
}

.simple-apps {
  display: flex;
  align-items: center;
  margin-left: -15px;
  margin-top: 39px;
}

/* CONTACT */
.contact {
  margin: 150px 0 71px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 36px;
}

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.form-input,
.form-select {
  width: 303px;
  height: 74px;
  padding: 29px 25px;
}

.form-select {
  padding: 27px 25px;
}

.form-msg {
  width: 503px;
  height: 74px;
  padding: 29px 25px;
  resize: none;
  overflow: hidden;
}

.form-input,
.form-select,
.form-option,
.form-msg {
  background: #ffffff;
  border: 1px solid #ffa3a3;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #0f000099;
}

.form-select {
  margin-left: 30px;
}

.form-btn {
  height: 74px;
  background-color: #d64374;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 28px 46px;
  text-transform: capitalize;
  margin-left: -10px;
  border: none;
}

.form-input:focus,
.form-select:focus,
.form-msg:focus,
.form-btn:focus {
  outline: none;
}

.form-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
.site-footer {
  background-color: #0a0808;
  padding: 70px 0;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-first-side {
  margin-left: -40px;
}

.footer-text {
  width: 207px;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #ffffffb3;
  margin: 9px 0 25px;
}

.footer-strong {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.footer-apps {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.footer-app-links {
  margin-left: 10px;
}

.footer-app-links:nth-of-type(1) {
  margin-left: 0;
}

.footer-link {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #ffffffb3;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-link-active {
  color: #fff;
}

.footer-link:hover {
  color: #fff;
}

.footer-link:active {
  color: #fff;
}

.footer-last-heading {
  font-weight: 500;
  line-height: 19px;
  color: #ffffff;
}

.footer-form {
  margin: 13px 0 15px;
}

.footer-input {
  width: 263px;
  height: 55px;
  padding: 20px 32px;
  border: 2px solid #d64374;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
}

.footer-input:focus {
  outline: none;
}

.footer-btn {
  background-color: #d23166;
  border-radius: 5px;
  border: none;
  width: 125px;
  height: 55px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  text-transform: capitalize;
  padding: 16px 18px;
  margin-left: -15px;
}

.footer-last-flex {
  display: flex;
  align-items: center;
  margin-left: -20px;
}

.footer-last-images {
  margin-left: 17px;
}
