@font-face {
  font-family: 'Fredoka One';
  src: url('../fonts/FredokaOne-Regular.woff2') format('woff2'),
    url('../fonts/FredokaOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../fonts/HindMadurai-Regular.woff2') format('woff2'),
    url('../fonts/HindMadurai-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../fonts/HindMadurai-Bold.woff2') format('woff2'),
    url('../fonts/HindMadurai-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../fonts/HindMadurai-SemiBold.woff2') format('woff2'),
    url('../fonts/HindMadurai-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

li {
  list-style-type: none;
}

/* HEADER */
.site-header {
  background-color: rgb(242, 206, 218, 0.3);
  /* height: 100vh; */
}

.container {
  width: 1125px;
  margin: 0 auto;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 126px;
}

.site-nav-link {
  font-size: 14px;
  line-height: 16px;
  color: rgba(21, 1, 1, 0.6);
  text-decoration: none;
  margin-left: 40px;
  text-transform: capitalize;
}
.site-nav-link:hover {
  font-size: 14px;
  line-height: 18px;
  color: #d23166;
}

.site-nav-link:active {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #d23166;
}

.active {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #d23166;
}

.same-btn {
  background-color: #d23166;
  border-radius: 5px;
  font-family: Hind Madurai;
  font-weight: bold;
  line-height: 22px;
  color: #fafafa;
  text-decoration: none;
  padding: 14px 50px;
  text-transform: capitalize;
}

/* HERO */
.hero {
  padding-bottom: 65px;
}

.hero-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-left-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0f0101;
  margin-bottom: 6px;
}

.hero-left-heading {
  font-family: Fredoka One;
  font-size: 57.33px;
  line-height: 120.5%;
  color: #0f0101e6;
  margin-bottom: 35px;
}

.hero-left-pink-text {
  color: #d23166;
}

.hero-left-text {
  font-family: Hind Madurai;
  font-size: 18px;
  line-height: 27px;
  color: #0f010199;
  margin-bottom: 63px;
}

.hero-right-side {
  width: 597px;
  height: 597px;
  background-position: top 186px left -155px, top -33px left -103px,
    top 220px left 2px, bottom -2px left 99px;
  background-image: url('../img/milk.png'), url('../img/bg-image.png'),
    url('../img/ellipse.png'), url('../img/shadow.png');
  background-repeat: no-repeat;
  background-size: 651.86px, 597px, 365px 353px, 173px 15px;
}

/* LIST */

.site-main {
  background-color: #fff;
}

.site-list {
  margin: 50px 0;
}

.main-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-list-item {
  padding: 33px 26px;
  background: transparent;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  text-align: center;
}

.main-list-heading {
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin: 23px 0 9px;
}

.main-list-text {
  font-family: Hind Madurai;
  font-size: 14px;
  line-height: 19px;
  color: #00000099;
}

/* SUGAR */
.sugar {
  background-color: #f8edf0;
}

.sugar-left-side {
  width: 442px;
}

.sugar-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sugar-heading {
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: #150101;
}

.sugar-text {
  font-size: 16px;
  line-height: 24px;
  color: #15010199;
  margin: 16px 0 35px;
}

.same-pink-btn {
  background-color: #d64374;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 41px;
  text-transform: capitalize;
}

.sugar-right-side {
  width: 655px;
  height: 656.8px;
  background-image: url('../img/brown-sugar.png');
  background-position: top 0px left 50px;
  background-repeat: no-repeat;
  background-size: 655px;
}

/* PRODUCT */

.product {
  margin: 137px 0 149px;
}

.product-heading {
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
  text-transform: capitalize;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #00000099;
  text-decoration: none;
  text-transform: uppercase;
  margin: 64px 0 110px;
}

.product-link-active {
  padding-bottom: 4px;
  border-bottom: 3px solid #d64374;
}
